extends layout

block content

    footer(class="main-footer")
    div(class="footer--contact__links")
        nav.fimg
        h3(class="header--brand__footer") FlexCoin
        <a href="https://facebook.com/stella.rashid11" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984764/facebook_mz3zyw.png" alt="Facebook" width="20" height="20"></a>
        <a href="https://twitter.com/RoseSopuruchi" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984742/twitter_yvunur.png" alt="Twitter" width="20" height="20"></a>
        <a href="https://wa.me/2349052030195" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984727/whatsapp_rw2sxh.png" alt="WhatsApp" width="20" height="20"></a>
        a(href="#" target="_blank" img src="/images/icon-instagram.svg" alt="instagram" width="20" height="20")
    div(class="navigations")
        nav(class="main--nav1")
        ul(class="main-footer__links")
            li(class="main-footer__link")
            a(href="#") About Us
            li(class="main-footer__link")
            a(href="#") Contact
            li(class="main-footer__link")
            a(href="#") Blog
        nav
        ul(class="main-footer__links")
            li(class="main-footer__link")
            a(href="#") Careers
            li(class="main-footer__link")
            a(href="#") Support
            li(class="main-footer__link")
            a(href="#") Privacy Policy
    div(class="request--links")
        nav(class="frequest__link")
        a(class="request--link " href="#") Request Invite
        p © flexCoin. All Rights Reserved