doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.google.com/specimen/Public+Sans")
    link(rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="/stylesheets/shared.css")
    link(rel="stylesheet", href="/stylesheets/signIn.css")

  body 
    main
      header(class="main-header")
        div(class="main-header__brand")
          img(src="/images/logo.svg" alt="easybank - Your favorite banking")
        div(id="myModal" class="modal")
          nav(class="main-nav modal-content")                    
            span(class="close" img src="/images/icon-close.svg" alt="")
            ul(class="main-nav__items")
              li(class="main-nav__item")
                a(href="/") Home
              li(class="main-nav__item")
                a(href="/about") About
              li(class="main-nav__item")
                a(href="/contact-us") Contact
              li(class="main-nav__item")
                a(href="/blog") Blog
              li(class="main-nav__item")
                a(href="/careers") Careers
              li(class="main-nav__item main-nav__item--cta")
                a(href="index.html") Request link
      section 
        form(method='POST' action='' )
          div.error 
            p #{messages.error}
          div#form.form-group
            div.email-div
              label.price_lable(for='email') Email:
              input#email.form-control.password(type='email' placeholder='email' name='email' required='true' value=(undefined===user ? '' : user.email))
            div.button-div
              button.btn.btn-primary(type='submit') Reset
          div.logIn-div
            p I know password?
              a(href="/logIn") LogIn
      footer(class="main-footer")
        div(class="footer--contact__links")
          a(href="index.html" class="header--brand__footer")
            img(src="/images/logo.svg" alt="easybank - Your favorite bank")
          div(class="fimg")
            <a href="https://facebook.com/stella.rashid11" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984764/facebook_mz3zyw.png" alt="Facebook" width="20" height="20"></a>
            <a href="https://twitter.com/RoseSopuruchi" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984742/twitter_yvunur.png" alt="Twitter" width="20" height="20"></a>
            <a href="#" target="_blank"><img src="/images/icon-pinterest.svg" alt="WhatsApp" width="20" height="20"></a>
            <a href="https://wa.me/2349052030195" target="_blank"><img src="https://res.cloudinary.com/ros4eva/image/upload/v1566984727/whatsapp_rw2sxh.png" alt="WhatsApp" width="20" height="20"></a>
            a(href="#" target="_blank" img src="/images/icon-instagram.svg" alt="WhatsApp" width="20" height="20")
        div(class="navigations")
          nav(class="main--nav1")
            ul(class="main-footer__links")
              li(class="main-footer__link")
                a(href="#") About Us
              li(class="main-footer__link")
                a(href="#") Contact
              li(class="main-footer__link")
                a(href="#") Blog
          nav
            ul(class="main-footer__links")
              li(class="main-footer__link")
                a(href="#") Careers
              li(class="main-footer__link")
                a(href="#") Support
              li(class="main-footer__link")
                a(href="#") Privacy Policy
        div(class="request--links")
          nav(class="frequest__link")
            a(class="request--link " href="#") Request Invite
            p © Easybank. All Rights Reserved