* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.form-group {
    margin-left: 10px;
}

div div {
    padding-top: 40px;
}

.email-div {
    display: flex;
    flex-direction: column;
}

#email {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width: fit-content;
}

.pass-div {
    display: flex;
    flex-direction: column;
}

#password {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width: fit-content;
}


.error {
    color: red;
    margin-left: 20px;
}



.btn {
    background-image: linear-gradient( to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 10px;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 7 8;
    color: white;
    font-size: 17px;
    margin: 5px;
    width: 20%;
    height: 40px;
    
}

.logIn-div {
    margin-left: 10px;
}

@media (min-width: 40rem) {
    
    #email {
        width: 400px;
    }

    #password {
        width: 400px;
    }

    .btn {
        width: 30%;
        height: 50px;

    }
}